@font-face {
  font-family: 'Quadrinhos';
  src: url('/fonts/quadrinhos.ttf');
}

$font-default: 'Bebas Neue';
$font-secondary: 'Secular One';
$font-hq: 'Quadrinhos';

$primary-color: '#ec1d24';
$black: '#000';
$semi-black: '#101010';
$gray: '#202020';
$white: '#fff';
$semi-white: '#f0f0f0';
