@import '../../styles/abstract/variables';

.font-config {
  font-size: 12px;
  font-family: $font-default;
}

.marvel-logo {
  max-height: 50px;
}

.font-default {
  font-family: $font-default;

  .logo {
    font-size: 50px;
  }
}

#header {
  height: 94vh;
  max-width: 100vw;
  background-image: url(/marvelcomics-panel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
}

.navbar {
  backdrop-filter: blur(5px);
  .nav-link {
    font-family: $font-default;
  }
}
