@import '../../styles/abstract/variables';

.footer {
  height: 300px;
  background-color: #202020;
  a {
    color: #ec1d24 !important;
  }
}

.top {
  padding: 20px;
}

.info p {
  color: #cfcfcf !important;
}


.tecnologies {
  font-size: 30px;
}

.social-media {
  font-size: 30px;
  margin: 15px;
}



a:hover {
  color: #ec1d24 !important;
}

.bottom {
  height: 50px;
  background-color: #000;
}

.bottom {
  color: #fff !important;
  font-family: $font-default;
}
