.footer {
  height: 300px;
  background-color: #202020;
}

.top {
  padding: 20px;
  background-color: #202020;
}

.info p {
  color: #cfcfcf !important;
}


.tecnologies {
  font-size: 30px;
}

.social-media {
  font-size: 30px;
  margin: 15px;
}

.social-media i,
.tecnologies i {
  padding: 10px;
  color: #a5a5a5;
}

.social-media i:hover {
  color: #f39800;
}

a {
  color: #f39800 !important;
}

a:hover {
  color: #c97f00 !important;
}

.bottom {
  height: 50px;
  background-color: #000;
}

.bottom {
  color: #fff !important;
}
